body {
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Heading */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
    background-color: rgb(44, 62, 88);
    color: white;
    transition: 0.3s;
}

header {
    position: fixed;
}

.nav-bar-heading {
    font-size: 1.75em;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin: 0;
    font-weight: bold;
}

.nav-links {
    font-size: 1rem;
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 0;
}

.nav-links > li {
    padding: 1rem;
    font-weight: 700;
}

/* hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    padding-top: 9.65rem;
    width: 100%;
    background-color: rgb(26, 188, 156) ;
}

.hero-img {
    margin-bottom: 3rem !important;
    width: 15rem;
}

.hero-heading{
    font-size: 4rem;
    line-height: 3.5rem;
    color: white;
}

.hero-devider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0 1.5rem;
}

.hero-devider-line-left {
    background-color: white;
    width: 7rem;
    height: 0.25rem;
    margin-right: 1rem;
}

.hero-devider-svg {
    color: white;
    height: 1em;
    fill: white;
    font-size: 2rem;
    display: inline-block;
}

.hero-devider-line-right {
    background-color: white;
    width: 7rem;
    height: 0.25rem;
    margin-left: 1rem;
}

.hero-sub-heading {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6em 0;
}

.port-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    margin: 0 0;
}

.port-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.port-item {
    margin-bottom: 3rem !important;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.port-img {
    min-width: 200px;
    flex-grow: 1;
    height: auto;    
    max-width: 25rem;
}

/* About */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    width: 100%;
    background-color: rgb(26, 188, 156) ;
}

.about-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    color:white;
    margin: 0;
    padding: 0;
}

.about-row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about-text {
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    width: 33%;
    padding: 0 0.75rem;
}

.about-button {
    padding: 1rem 1.75rem;
    color: white;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 0.125rem solid white;
    font-size: 1.25rem;
    transition: 0.3s;
    cursor: pointer;
}

.about-button:hover {
    background-color: white;
    color: black;
}

/* CONTACT ME */

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    width: 100%;
}

.contact-me-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    margin: 0 0;
}

.form {
    width: 58vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-me-input {
    margin-bottom: 1rem !important;
    font-size: 1.5rem;
    border: 0px;
    border-bottom: 1px solid rgb(161, 161, 161);
    width: 100%;
    height: 5.5rem;
    line-height: 1.5rem;
    padding: 1.5rem 0;
}

.form-button {
    color: #fff;
    background-color: #1abc9c;
    border: 0px;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    cursor: pointer;
    align-self: flex-start;
    border-radius: 0.5rem;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    width: 100%;
    background-color: rgb(44, 62, 88);
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31%;
}

.footer-heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem !important;
    margin-top: 0;
    color: white;
    text-align: center;
    font-weight: bold;
}

.footer-text {
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 0;
}

/* copyright */

.copyright {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    background-color: #1a252f;
}

.copy-text {
    color: white;
    font-size: 0.875em;
    margin: 0;
}

/* status */

.status {
    display: none;
}

.status-text {
    color: white;
    font-size: 0.875em;
    margin: 0;
    text-align: center;
}

.status-display {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    background-color: #1a252f;
}

/* utilities */

.container {
    MAX-width: 1320PX;
    display: flex;
    justify-content: space-between;
    flex-wrap: inherit;
    align-items: center;
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.color-black{
    background-color:black;
}

.color-navy{
    background-color:rgb(44, 62, 80);
}

.fill-black {
    fill: black;
}

.fill-navy {
    fill: rgb(44, 62, 80);
}

/* popup */

.popup {
    margin: 5vh 5vw;
    height:90vh;
    width: 90vw;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto; 
}

.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    color: rgb(44, 62, 80);
    z-index: 1;
    margin-bottom: 0;
}

.popup-img {
    flex-basis: 60%;
    width: 60vw;
    border-radius: 20px;
}
.popup-img-div {
    margin-bottom: 3rem;
}

.popup-text {
    width: 60vw;
    margin-bottom: 1.5rem !important;
}


.popup-display {
    display:block;
    z-index: 1;
    height:90vh;
    width: 90vw;
}

.popup-button {
    color: #fff;
    background-color: #16a085;
    border-color: #15967d;
    cursor: pointer;
    border: 0.125rem solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}

/* media queries */

@media screen and (max-width:800px) {
    .mobile {
        flex-direction: column;
    }
    .container {
        max-width: 100%;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }
    .footer-item {
        margin: 1rem 0;
        width: 90%;
    }
    .nav-bar {
        display: none;
    }
    .about-row {
        flex-direction: column;
        align-items: center;
    }
    .about-text {
        width: 90%;
    }
    .port-items {
        flex-direction: column;
        width: 90%;
    }
    .port-item {
        width: 90%;
    }

    .port-img {
        width: 100%;
    }
    .form {
        width: 90%;
    }

    .hero{
        padding: 6rem 0;
    }

    body{
        text-align: center;
    }
}